* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:
    url(https://3.bp.blogspot.com/-tFGHPvhK9WA/WUXcUZcrZRI/AAAAAAAAFlo/-5BjWWouG60BOPDvleC7JQoZJf2906_AACHMYBhgL/s1600/25-free-website-backgrounds-the-hostbaby-blog.jpg);
  background-color: #2d3436;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
